.tab{ 
 margin-right: 2%;
}
.doubletab{
  margin-right: 2%;
}

 .bt{
    margin-left: 10px;
    display: inline-block;
    padding: 3px 9px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(45, 104, 194);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.bt:hover {background-color: rgb(76, 128, 206)}
.bt:active {
  background-color: rgb(45, 104, 194);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  button{
    font-size: 13px;
    height:25px;
    text-align: center;
  }
  .radio{
    margin-top: 5px;
  }
  p{
    margin-left: 1%;
  }
  body {
    background-image: url("../../assets/images/backEL3.jpg");
  }