<p>- Please choose what you would like to see - </p>


<div class="radio">  
  <label>  
      <input type="radio" name="gender" value="Current" (click)="setradio('Current')" [checked]='true' checked >  
      Current projects 
  </label>  
</div> 

<div class="radio">  
  <label>  
      <input type="radio" name="gender" value="History" (click)="setradio('History')" >  
      historical projects 
  </label>  
</div>   

<div class="radio">  
  <label>  
      <input type="radio" name="gender" value="Seved" (click)="setradio('Seved')" >  
      Seved forcast  
  </label>

</div> 


<br>
<div *ngIf="isSelected('Current')" >  

 <h3>Current projects</h3> 
 <a  mat-raised-button color="primary" href="addProject" class="bt" > Add project </a> <br><br>
  <div class="container">
    <mat-accordion>
   
        <!-- <p *ngIf= "!(milestone$ | async)"  >Loading...</p> -->
    
        <div *ngIf="milestone$ | async as milestone$$; else loading">
          <ng-container *ngIf="milestone$$.length; else noItems">

          <mat-expansion-panel  *ngFor = "let milestone of milestone$$" >  <!-- רישום לאובסרבל -->
        <mat-expansion-panel-header>
          <mat-panel-title>
           <div class="tab" >  <b>Mileston ID:</b> {{milestone.id}} </div>  <div class="tab" > | </div>  <div class="tab" > <b>Project ID:</b> {{milestone.ProjectID}} </div>  <div class="tab" > | </div>   <div class="tab"> <b> PorYYYYWW:</b> {{milestone.PorYYYYWW}} </div>  <div class="tab" > | </div> <div class="tab"> <b> Drop:</b> {{milestone.Drop}} </div> <div class="tab" > | </div> <div class="tab"> <b> Drop Type:</b> {{milestone.DropType}} </div>
           <div class="tab" > | </div>   <div class="tab2" > <button  color="primary" (click)="finish(milestone.id)" >Completed</button> </div>
          </mat-panel-title>
        </mat-expansion-panel-header> 

        <div class="tab" > kpi1: &nbsp; {{milestone.kpi1}}</div>  <div class="tab"> kpi2: &nbsp; {{milestone.kpi2}} </div>  <div class="tab"> kpi3: &nbsp; {{milestone.kpi3}} </div>  <div class="tab"> kpi4: &nbsp; {{milestone.kpi4}} </div>  <div class="tab"> kpi5: &nbsp; {{milestone.kpi5}} </div>
      </mat-expansion-panel>

    </ng-container>
    <ng-template #noItems> <p>You have no current projects, use the "<b>Add project</b>" button and create a new projects.</p></ng-template>
   </div>
   <ng-template #loading>loading...</ng-template>

    </mat-accordion>
  </div>
</div>  

<div *ngIf="isSelected('History')" >  
 <h3> historical projects </h3>
  <div class="container">
    <mat-accordion>
   
      <div *ngIf="History$ | async as milestone$$; else loading">
        <ng-container *ngIf="milestone$$.length; else noItems">

        <mat-expansion-panel  *ngFor = "let milestone of milestone$$" >
            <mat-expansion-panel-header>
              <mat-panel-title>  
                <div class="tab" >  <b>Save date:</b> {{milestone.Date_Time * 1000 |  date: 'dd/MM/20 h:mm:ss a'}} </div>  <div class="tab" > | </div> <div class="tab" >  <b>Mileston ID:</b> {{milestone.milestoneID}} </div>  <div class="tab" > | </div>  <div class="tab" > <b>Project ID:</b> {{milestone.ProjectID}} </div>  <div class="tab" > | </div> 
                  <div class="doubletab" *ngIf = "(milestone.Status == 'IS LATE')" style="background-color:red;" >  <b>Status:</b> {{milestone.Status}} </div>  <div class="doubletab" *ngIf = "(milestone.Status == 'ON TIME')" style="background-color:green;" >  <b>Status:</b> {{milestone.Status}} </div>
                <div class="tab" > | </div>   <div class="tab2" > <button  color="primary" (click)="deleteHistory(milestone.id)" >Delete</button> </div>
              </mat-panel-title>
            </mat-expansion-panel-header> 
    
          <div class="tab"> <b> PorYYYYWW:</b> {{milestone.PorYYYYWW}} </div>  <div class="tab"> <b> Drop:</b> {{milestone.Drop}} </div> <div class="tab"> <b> Drop Type:</b> {{milestone.DropType}} </div> <br>
             <div class="tab" > kpi1: &nbsp; {{milestone.kpi1}}</div>  <div class="tab"> kpi2: &nbsp; {{milestone.kpi2}} </div>  <div class="tab"> kpi3: &nbsp; {{milestone.kpi3}} </div>  <div class="tab"> kpi4: &nbsp; {{milestone.kpi4}} </div>  <div class="tab"> kpi5: &nbsp; {{milestone.kpi5}} </div>
      </mat-expansion-panel>

    </ng-container>
    <ng-template #noItems> <p>You have no historical projects, you can see historical projects only after you complete projects.</p></ng-template>
   </div>
   <ng-template #loading>loading...</ng-template>

    </mat-accordion>
  </div>
</div>  


<div *ngIf="isSelected('Seved')">  
 <h3> Seved forcast  </h3>
  <div class="container">
    <mat-accordion>
 
      
      <div *ngIf="saved$ | async as milestone$$; else loading">
        <ng-container *ngIf="milestone$$.length; else noItems">

        <mat-expansion-panel  *ngFor = "let milestone of milestone$$" >
            <mat-expansion-panel-header>
          <mat-panel-title>  
            <div class="tab" >  <b>Save date:</b> {{milestone.Date_Time * 1000 |  date: 'dd/MM/20 h:mm:ss a'}} </div>  <div class="tab" > | </div> <div class="tab" >  <b>Mileston ID:</b> {{milestone.milestoneID}} </div>  <div class="tab" > | </div>  <div class="tab" > <b>Project ID:</b> {{milestone.ProjectID}} </div>  <div class="tab" > | </div> 
              <div class="doubletab" *ngIf = "(milestone.result == 'IS LATE')" style="background-color:red;" >  <b>forcast:</b> {{milestone.result}} </div>  <div class="doubletab" *ngIf = "(milestone.result == 'ON TIME')" style="background-color:green;" >  <b>forcast:</b> {{milestone.result}} </div>
            <div class="tab" > | </div>   <div class="tab2" > <button  color="primary" (click)="deleteSaved(milestone.id)" >Delete</button> </div>
          </mat-panel-title>
        </mat-expansion-panel-header> 

      <div class="tab"> <b> PorYYYYWW:</b> {{milestone.PorYYYYWW}} </div>  <div class="tab"> <b> Drop:</b> {{milestone.Drop}} </div> <div class="tab"> <b> Drop Type:</b> {{milestone.DropType}} </div> <br>
         <div class="tab" > kpi1: &nbsp; {{milestone.kpi1}}</div>  <div class="tab"> kpi2: &nbsp; {{milestone.kpi2}} </div>  <div class="tab"> kpi3: &nbsp; {{milestone.kpi3}} </div>  <div class="tab"> kpi4: &nbsp; {{milestone.kpi4}} </div>  <div class="tab"> kpi5: &nbsp; {{milestone.kpi5}} </div>
      </mat-expansion-panel>

    </ng-container>
    <ng-template #noItems> <p>You have no saved forecasts. You can see saved forecasts only after you save a forecast</p></ng-template>
   </div>
   <ng-template #loading>loading...</ng-template>
    </mat-accordion>
  </div>
</div>   




  
  
  
  
  