
    <h3>Login</h3>

    <mat-card>
      <p> Fill your email and password to get in</p>
       <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="example-container">
           
              <mat-form-field>
              <input matInput placeholder="Enter your email" [(ngModel)] = "email"
              (input)="onEmailChange($event.target.value)"
              (focusout)="focusOutEmail($event.target.value)"
              name = "email" 
              #mail = "ngModel">
              <div class = "err">
                {{Emailmassage}}
              </div>
              </mat-form-field>
         </div> 
    
    
          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" 
              [(ngModel)] = "password"
              (input)="onPassChange($event.target.value)"
              (focusout)="focusOutPass($event.target.value)"
                      name = "password"
                      >
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <div class = "err">
                {{passwordmassage}}
                 </div>
            </mat-form-field>
 
          </div>


          <div class="alert" *ngIf = "auth.masageerror">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            {{auth.masageerror}}
          </div>
          <br>
        <div >
            <button mat-raised-button color="primary" (click)="onSubmit()" >Login</button>
            <button mat-button color="warn" routerLink="/firstpage" >Cancel</button> 
        </div>
      </form>
    </mat-card>
    
    
    <!-- This is a comment-->