<p>- If the list is empty, no one has shared it with you. Share with others and so will they! - </p>

<div class="container">
    <mat-accordion>
      <!-- <mat-expansion-panel *ngFor = "let book of books"> -->
        <p *ngIf= "!(milestone$ | async)"  >Loading...</p>    <!-- מראה טעינה בזמן ש books$ -->
          <mat-expansion-panel *ngFor = "let milestone of milestone$ | async" >  <!-- רישום לאובסרבל -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="tab" >  <b>Shere date:</b> {{milestone.Date_Time * 1000 |  date: 'dd/MM/20 h:mm:ss a'}} </div>  <div class="tab" > | </div>   <div class="tab" >  <b>From:</b> {{milestone.from}} </div>  <div class="tab" > | </div> <div class="tab" >  <b>Mileston ID:</b> {{milestone.milestoneID}} </div>  <div class="tab" > | </div>  <div class="tab" > <b>Project ID:</b> {{milestone.ProjectID}} </div> <div class="tab" > | </div>  <div class="doubletab" >  <b>forcast:</b> {{milestone.result}} </div>
            <div class="tab" > | </div>   <div class="tab2" > <button  color="primary" (click)="deleteShered(milestone.id)" >Delete</button> </div>
          </mat-panel-title>
        </mat-expansion-panel-header> 
          <div class="tab"> <b> PorYYYYWW:</b> {{milestone.PorYYYYWW}} </div>  <div class="tab"> <b> Drop:</b> {{milestone.Drop}} </div> <div class="tab"> <b> Drop Type:</b> {{milestone.DropType}} </div>  <br>
        <div class="tab" > kpi1: &nbsp; {{milestone.kpi1}}</div>  <div class="tab"> kpi2: &nbsp; {{milestone.kpi2}} </div>  <div class="tab"> kpi3: &nbsp; {{milestone.kpi3}} </div>  <div class="tab"> kpi4: &nbsp; {{milestone.kpi4}} </div>  <div class="tab"> kpi5: &nbsp; {{milestone.kpi5}} </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  
  
  
  