.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.whitelink {
  color:white;
  text-decoration: none;
  cursor:pointer;
  margin-right:10px;
}

.img{
  margin-right: 350px;
 position: center;
 height: 10%;
 width: 10%;
 background-color: rgb(255, 243, 240);
 filter:  saturate(7);
}