<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list> 
      
      <a mat-list-item href="projects" *ngIf = "(authservice.user | async)?.uid"> My projects </a>
      <a mat-list-item href="shared" *ngIf = "(authservice.user | async)?.uid"> Shared with me </a>
      <a mat-list-item href="predict" *ngIf = "(authservice.user | async)?.uid"> Predict </a>
      <a mat-list-item href="dashboard" *ngIf = "(authservice.user | async)?.uid"> Dashboard </a>
      
    <!-- <a mat-list-item href="articles" *ngIf = "(authservice.user | async)?.uid"> Articles</a>
      <a mat-list-item href="classify" *ngIf = "(authservice.user | async)?.uid"> Classify </a> -->
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>  <p *ngIf= "!(Details$ | async)"> </p>   
           <div *ngFor = "let Details of Details$ | async" >  <!-- רישום לאובסרבל -->
            <h1 class="tab" *ngIf = "!(authservice.user | async)?.uid" >Offline</h1>  
        <h1 class="tab" *ngIf = "(authservice.user | async)?.uid" >  {{Details.name}} </h1>  
 </div></span>

      <span class = "spacer"></span>
      <span class = "spacer"></span>
      <a class="whitelink" [routerLink]="['/signup']" *ngIf = "!(authservice.user | async)?.uid">Sign Up</a>
      <a class="whitelink" [routerLink]="['/login']" *ngIf = "!(authservice.user | async)?.uid">Login</a>
      <!--<a class = img> <img src="../../assets/images/logo.png"> </a> -->
      <a class ="whitelink" *ngIf = "(authservice.user | async)?.uid" (click) = "authservice.logout()">Logout</a>
       

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
