
<!-- {{currentDate | date:'yyyy-MM-dd'}}
{{currentDate | date:'hh:mm:ss a'}} -->

<p>- milestone id:<b> {{milestoneID}} </b> - </p>



<div class="container">
    <mat-accordion>
          <mat-expansion-panel >  <!-- רישום לאובסרבל -->
        <mat-expansion-panel-header>
          <mat-panel-title>
           <div class="tab" > Project ID: {{ProjectID}}</div>  <div class="tab" > | </div>   <div class="tab"> PorYYYYWW: {{PorYYYYWW}} </div>  <div class="tab" > | </div> <div class="tab"> Drop: {{Drop}} </div> <div class="tab" > | </div> <div class="tab"> Drop Type: {{DropType}} </div>
          </mat-panel-title>
        </mat-expansion-panel-header> 

        <div class="tab" > kpi1: &nbsp; {{kpi1}}</div>  <div class="tab"> kpi2: &nbsp; {{kpi2}} </div>  <div class="tab"> kpi3: &nbsp; {{kpi3}} </div>  <div class="tab"> kpi4: &nbsp; {{kpi4}} </div>  <div class="tab"> kpi5: &nbsp; {{kpi5}} </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="Classification">
    <h2 color:black> Milestone status according to forecast:  </h2>
    <h1 *ngIf = "(result == 'Loading...')" style="color:black;"> {{result}} </h1> 
    <h1 *ngIf = "(result == 'IS LATE')" style="color:red;"> {{result}} </h1>
    <h1 *ngIf = "(result == 'ON TIME')" style="color:green;"> {{result}} </h1>

  </div>

  <p *ngIf= "!(Details$ | async)"  > </p>   
  <div *ngFor = "let Details of Details$ | async" > 
   <button mat-raised-button color="primary"  [routerLink]="'/projectShereWithComponent/' + milestoneID + '/' + result + '/' +  Details.name "> Share</button> 
   <button mat-raised-button color="primary"   (click)="saveClassification()">Save to me</button>
</div>

  
  
  
  
  
  