<mat-card>
    <h3> I want to shere with:  </h3>
    <form #shereForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <mat-label>shere with:</mat-label>
            <mat-select [(value)]="category" name="category"   [(ngModel)] = "category"> 
                <div *ngFor = "let milestone of milestone$ | async">
              <mat-option value="{{milestone.userID}}">{{milestone.userID}}</mat-option>
            </div>
            </mat-select>
          </mat-form-field>
        <div >
            <button mat-raised-button color="primary" [disabled]="!category" >shere</button> <br><br>
        </div>  
      </div>
    </form>
    </mat-card>



