
.example-container {
  display: flex;
  flex-direction: column;
  margin-bottom: -6px;
  margin-top: -6px;
}
.move{
  margin-left: 50px;
}
h3{
  margin-top: -2px;
}
select{
  display: flex;
  width: 20%;
  height: 25px;
  border: none;
  margin-bottom: 20px;
  margin-top: 8px;
  border-bottom: 1px solid rgb(184, 184, 184) ;
}

.example-container > * {
  width: 20%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
  
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}



.err{
    color: red;
    font-size: 15px;
    margin-top: 10px;
}
button{
  margin-left: 1%;
  width: 8%;
}




