<!-- <h4>Sign Up</h4>
<form #signUp="ngForm"(ngSubmit)="onSubmit()">
    <div>
      Email: <input [(ngModel)]= "email"
                                name="email"> 
    </div>
    <br>
    <div>
      Password: <input [(ngModel)]= "password"
                                name="password"> 
      </div> <br>
      <div>
        Full name: <input [(ngModel)]= "name"
                                  name="name"> 
        </div> <br>
      <br><br>
        <button mat-raised-button color="primary" [disabled]>Sign Up</button>
    </form> -->

    
<h3>Sign up </h3>
<mat-card>
<p> Enter your email and choose a password</p>
<form #userForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your full name" [(ngModel)] = "name"
       name = "name"
       (input)="onNameChange($event.target.value)"  
       (focusout)="focusOutName($event.target.value)"
       #userName = "ngModel">

       <div class = "err">
        {{namemassage}}
      </div>
                             
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [(ngModel)] = "email"
       name = "email"
       (input)="onEmailChange($event.target.value)"
       (focusout)="focusOutEmail($event.target.value)"
         
       #userEmail = "ngModel">

       <div class = "err">
        {{Emailmassage}}
      </div>
                             
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"  [(ngModel)] = "password"
               name = "password"
               (input)="onPassChange($event.target.value)"
               (focusout)="focusOutPass($event.target.value)"
               >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <div class = "err">
        {{passwordmassage}}
      </div>
    </mat-form-field>
  </div>

  <div class="alert" *ngIf = "auth.masageerror">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      {{auth.masageerror}}
    </div>
    <br>
    <div >
        <button mat-raised-button color="primary" type="submit" >Sign Up</button>
        <button mat-stroked-button color="warn" routerLink="/firstpage" >Cancel</button> 
    </div>
</form>
</mat-card>
<!-- This is a comment-->
