.pie{
  display: block;
  float: left;
  width: 45%;
  margin-top:5%;
  margin-left: 4%;
}

.bar{
    display: block;
    float: left;
    width: 45%;
    margin-top:5%;
    margin-left: 2%;
    margin-right: 4%;
  }

.currentNum{
width: 20%;
height: 100px;
  float: left;
  margin-left: 4%;
  background-color: rgb(65, 105, 225);
  text-align: center;
  font-size: large;
}

.HistoryNum{
  width:  20%;
  height: 100px;
  float: left;
  margin-left: 4%;
  background-color: rgb(65, 105, 225);
  text-align: center;
  font-size: large;
}

.SavedNum{
  width: 20%;
  height: 100px;
  float: left;
  margin-left: 4%;
  background-color: rgb(123, 151, 234)  ;
  text-align: center;
  font-size: large;
}

.SheredNum{
  width: 20%;
  height: 100px;
  float: left;
  margin-left: 4%;
  background-color:rgb(123, 151, 234)  ;
  text-align: center;
  font-size: large;
  margin-right: 4%;
}


.graphs{
  width: 100%;
  margin-top: 75px;
}
.data{
  width: 100%;
  margin-top: 40px;
}
h1{
  text-align: center;
}
