<body>
  

<h1> Manager Dashboard</h1>
  <div class="data"> 
        <div class = "currentNum"> <b> <br> Current Project: <br><br> {{Current}} </b> </div>
        <div class = "HistoryNum"><b><br> History Project: <br><br> {{History}} </b> </div>
        <div class = "SavedNum"> <b> <br> Saved forcast: <br><br> {{Saved}} </b> </div>
        <div class = "SheredNum"> <b> <br> shered with me: <br><br>  {{Shered}}</b> </div>
  </div> 
<br>
<br>
  <div class = graphs> 
        <div class="pie" >
          <canvas class="ch" id="pieChart"  ></canvas> <br>
        </div>

        <div class="bar" >
          <canvas class="ch" id="barChart"  ></canvas> <br>
        </div>
</div>
  
  <router-outlet></router-outlet>

</body>












<!--
  // Line chart:
  this.LineChart = new Chart('lineChart', {
    type: 'line',
  data: {
   labels: ["Jan", "Feb", "March", "April", "May", "June","July","Aug","Sep","Oct","Nov","Dec"],
   datasets: [{
       label: 'Number of Items Sold in Months',
       data: [9,7, 3, 5, 2, 10,15,16,19,3,1,9],
       fill:false,
       lineTension:0.2,
       borderColor:"red",
       borderWidth: 1
   }]
  }, 
  options: {
   title:{
       text:"Line Chart",
       display:true
   },
   scales: {
       yAxes: [{
           ticks: {
               beginAtZero:true
           }
       }]
   }
  }
  });
  
  // Bar chart:
 
  -->