
<h1>Project completion and transfer to history</h1>
<div class="container">
    <mat-accordion>
          <mat-expansion-panel >  <!-- רישום לאובסרבל -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="tab" > milestone id: {{milestoneID}}</div>  <div class="tab" > | </div>  <div class="tab" > Project ID: {{ProjectID}}</div>  <div class="tab" > | </div>   <div class="tab"> PorYYYYWW: {{PorYYYYWW}} </div>  <div class="tab" > | </div> <div class="tab"> Drop: {{Drop}} </div> <div class="tab" > | </div> <div class="tab"> Drop Type: {{DropType}} </div>
          </mat-panel-title>
        </mat-expansion-panel-header> 

        <div class="tab" > kpi1: &nbsp; {{kpi1}}</div>  <div class="tab"> kpi2: &nbsp; {{kpi2}} </div>  <div class="tab"> kpi3: &nbsp; {{kpi3}} </div>  <div class="tab"> kpi4: &nbsp; {{kpi4}} </div>  <div class="tab"> kpi5: &nbsp; {{kpi5}} </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

    <div class="radioG">
    <div class="radio">  
        <label>  
            <input type="radio" name="status" value="status" (click)="setradio('ON TIME')" [checked]='true' checked >  
            On time
        </label>  
    </div> 
    <div class="radio">  
        <label>  
            <input type="radio" name="status" value="status" (click)="setradio('IS LATE')" >  
            IS LATE
        </label>  
    </div> 
    </div>
    
   <button mat-raised-button color="primary"   (click)="saveToHistory()"> Move to history</button>


  
  
  
  
  
  